@model GeneralCommonSettingsModel
@using Hub.Web.Framework.Models.AdminAreaTour

<div class="card-body">
   <div id="tour-design-settings">
      <div class="form-group row" id="theme-area">
         <div class="col-md-3">
            <app-label asp-for="PlatformInformationSettings.DefaultPlatformTheme" />
         </div>
         <div class="col-md-9">
            <div id="theme-selection-block" class="theme-selection-block clearfix">
               @foreach (var theme in Model.PlatformInformationSettings.AvailableApplicationThemes)
               {
                  <div class="checkbox form-check">
                     <label class="form-check-label">
                        <span>
                           <input type="radio" name="@Html.NameFor(x => x.PlatformInformationSettings.DefaultPlatformTheme)" value="@theme.SystemName" @if (theme.SystemName.Equals(Model.PlatformInformationSettings.DefaultPlatformTheme, StringComparison.InvariantCultureIgnoreCase))
                           {
                              <text> checked="checked" </text>
                           }>
                           @theme.FriendlyName
                        </span>
                        <img src="@Url.Content(theme.PreviewImageUrl)" alt="@theme.PreviewText" title="@theme.PreviewText">
                     </label>
                  </div>
               }
            </div>
            <span asp-validation-for="PlatformInformationSettings.DefaultPlatformTheme"></span>
            @*<p><em>@T("Admin.Configuration.Settings.GeneralCommon.DefaultPlatformTheme.GetMore", OfficialSite.Themes + Utm.OnAdminThemes)</em></p>*@
         </div>
      </div>
      <div class="form-group row" @(Model.PlatformInformationSettings.AvailableApplicationThemes.Count == 1 ? Html.Raw("style=\"display:none\"") : null)>
         <div class="col-md-3">
            <app-label asp-for="PlatformInformationSettings.AllowUserToSelectTheme" />
         </div>
         <div class="col-md-9">
            <app-editor asp-for="PlatformInformationSettings.AllowUserToSelectTheme" />
            <span asp-validation-for="PlatformInformationSettings.AllowUserToSelectTheme"></span>
         </div>
      </div>
      <div class="form-group row" id="logo-area">
         <div class="col-md-3">
            <app-label asp-for="PlatformInformationSettings.LogoPictureId" />
         </div>
         <div class="col-md-9" id="logo-block">
            <app-editor asp-for="PlatformInformationSettings.LogoPictureId" />
            <span asp-validation-for="PlatformInformationSettings.LogoPictureId"></span>
         </div>
      </div>
   </div>
   <div class="form-group row advanced-setting">
      <div class="col-md-3">
         <app-label asp-for="PlatformInformationSettings.DisplayEuCookieLawWarning" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="PlatformInformationSettings.DisplayEuCookieLawWarning" />
         <span asp-validation-for="PlatformInformationSettings.DisplayEuCookieLawWarning"></span>
      </div>
   </div>
   <div class="form-group row advanced-setting">
      <div class="col-md-3">
         <app-label asp-for="PlatformInformationSettings.PlatformClosed" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="PlatformInformationSettings.PlatformClosed" />
         <span asp-validation-for="PlatformInformationSettings.PlatformClosed"></span>
      </div>
   </div>
   <div class="form-group row advanced-setting">
      <div class="col-md-3">
         <app-label asp-for="PlatformInformationSettings.SubjectFieldOnContactUsForm" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="PlatformInformationSettings.SubjectFieldOnContactUsForm" />
         <span asp-validation-for="PlatformInformationSettings.SubjectFieldOnContactUsForm"></span>
      </div>
   </div>
   <div class="form-group row advanced-setting">
      <div class="col-md-3">
         <app-label asp-for="PlatformInformationSettings.UseSystemEmailForContactUsForm" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="PlatformInformationSettings.UseSystemEmailForContactUsForm" />
         <span asp-validation-for="PlatformInformationSettings.UseSystemEmailForContactUsForm"></span>
      </div>
   </div>
   <div class="form-group row advanced-setting">
      <div class="col-md-3">
         <app-label asp-for="PlatformInformationSettings.PopupForTermsOfServiceLinks" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="PlatformInformationSettings.PopupForTermsOfServiceLinks" />
         <span asp-validation-for="PlatformInformationSettings.PopupForTermsOfServiceLinks"></span>
      </div>
   </div>
</div>