@model MediaSettingsModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.Settings.Media").Text;
    //active menu item (system name)
    AppHtml.SetActiveMenuItemSystemName("Media settings");
}

@{
    const string hideCommonBlockAttributeName = "MediaSettingsPage.HideCommonBlock";
    var user = await workContext.GetCurrentUserAsync();
    var hideCommonBlock = await genericAttributeService.GetAttributeAsync<bool>(user, hideCommonBlockAttributeName);

    const string hideOtherPagesBlockAttributeName = "MediaSettingsPage.HideOtherPagesBlock";
    var hideOtherPagesBlock = await genericAttributeService.GetAttributeAsync<bool>(user, hideOtherPagesBlockAttributeName);
}

<form asp-controller="Setting" asp-action="Media" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Configuration.Settings.Media")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.MediaSettingsButtons, additionalData = Model })
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                @await Component.InvokeAsync("SettingMode")
                <div asp-validation-summary="All"></div>

                <app-cards id="mediasettings-cards">
                    <app-card asp-name="mediasettings-common" asp-icon="fas fa-info" asp-title="@T("Admin.Configuration.Settings.Media.BlockTitle.Common")" asp-hide-block-attribute-name="@hideCommonBlockAttributeName" asp-hide="@hideCommonBlock" asp-advanced="false">@await Html.PartialAsync("_Media.Common", Model)</app-card>
                    <app-card asp-name="mediasettings-other-pages" asp-icon="fas fa-file" asp-title="@T("Admin.Configuration.Settings.Media.BlockTitle.OtherPages")" asp-hide-block-attribute-name="@hideOtherPagesBlockAttributeName" asp-hide="@hideOtherPagesBlock" asp-advanced="true">@await Html.PartialAsync("_Media.OtherPages", Model)</app-card>

                    @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.MediaSettingsDetailsBlock, additionalData = Model })
                </app-cards>
            </div>
        </div>
    </section>
</form>