@model UserAttributeModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Users.UserAttributes.EditAttributeDetails").Text;
    //active menu item (system name)
    AppHtml.SetActiveMenuItemSystemName("User and user settings");
}

<form asp-controller="UserAttribute" asp-action="Edit" method="post" id="userattribute-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Users.UserAttributes.EditAttributeDetails") - @Model.Name
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Users.UserAttributes.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="userattribute-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.UserAttributeDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<app-delete-confirmation asp-model-id="@Model.Id" asp-button-id="userattribute-delete" />