@model DeviceModel

@inject AdminAreaSettings adminAreaSettings

@{
    //page title
    ViewBag.PageTitle = T("Admin.Devices.Devices.EditDeviceDetails").Text;
    //active menu item (system name)
    AppHtml.SetActiveMenuItemSystemName("Devices list");
}

<form asp-controller="Device" asp-action="Edit" method="post" id="device-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Devices.Devices.EditDeviceDetails") - @Model.Name (@Model.SystemName)
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Devices.Devices.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="Device-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.DeviceDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<app-delete-confirmation asp-model-id="@Model.Id" asp-button-id="Device-delete" />
